*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: rgb(3, 0, 31);
    color: white;
    font-family: 'Poppins', sans-serif;

}

.App{
    min-height: 100vh;
    display: flex;
}

.sideBar{
    flex: 3;
    border-right: 1px solid rgb(100, 100, 100);
}

.main{
    flex: 9;
}

.logo{
    margin: 1rem;
}

.brand{
    font-size: 2rem;
}

.upperSide{
    padding: 2.5rem;
    /* border-bottom: 1px solid rgb(100, 100, 100); */
    height: 70%;
}

.upperSideTop{
    display: flex;
    align-items: center;
    margin: 2.5rem;
}

.addBtn{
    height: 2rem;
    padding-right: 1rem;
}

.midBtn{
    background: #443d92;
    border: none;
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
}
.query{
    background: transparent;
    color: rgba(222, 222, 222, 1);
    padding: 1.5rem;
    width: 25rem;
    display: flex;
    align-items: center;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: 1px solid rgba(98, 98, 98, 1);
}

.query>img{
    margin-right: 2rem;
    object-fit: cover;
    height: 1.75rem;
}

.lowerSide{
    padding: 2rem;
}

.listItems{
    margin: 0.75rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.listItemsBtn {
    margin: 0.75rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    background-color: #443d92; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .listItemsBtn.selected {
    background-color: #397b54;
    color: white;
  }
  
  .listItemsBtn:hover {
    background-color: #397b54;
  }

.listItems:nth-child(1)>.listItemsImg{
    padding-right: 0.5rem;
}
.listItems:nth-child(3)>.listItemsImg{
    padding-right: 0.75rem;
}

.main{
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 10rem;
    margin-bottom: 0;
}

.chats{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 17rem);
}

.chat{
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.chatImg{
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}

.bot{
    background: rgba(28, 30, 58, 1);
    width: fit-content;
    border-radius: 0.5rem;
}

.chatFooter{
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inp{
    padding: 0,5rem;
    background: rgba(28, 30, 58, 1);
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    width: 65rem;
    gap: 2rem;
    
}

.inp>input{
    width: calc(100% - 3rem);
    background: rgba(28, 30, 58, 1);
    padding: 1.25rem;
    color: white;
}

.inp>input, .send{
    background: transparent;
    border: none;
}

.chatFooter>p{
    margin: 2rem 0;
}

.txt {
    line-height: 2.3rem;
    color: rgba(222, 222, 222, 1);
}



.fa-microphone {
    color: #14A76C;
    font-size: 5rem;
    margin-bottom:  2rem;
}

.fa-microphone:hover {
    color: #0c6e47;
}

.fa-volume-up {
    color: gold;
}

.fa-volume-up:hover {
    color: darkgoldenrod;
}

.fa-volume-mute {
    color: rgb(104, 37, 37);    
    font-size: 5rem;
    margin-bottom:  2rem;
}

.fa-volume-mute:hover {
    color: rgb(119, 24, 5);
}

.fa-file-audio {
    color: #FF652F;
}

.fa-file-audio:hover {
    color: #d44916;
}

.output-display {
    background-color: #383b4b;
    height: 700px;
}

.fas, .fa {
    cursor: pointer;
}

.buttons-container {
    display: flex;
    align-items: center;
  }

.buttons-container > * {
    margin-right: 3rem;
 }